In [1]:
import pandas as pd
import numpy as np
import json, requests
import time
import glob
import re
import copy

In [2]:
mappings = pd.read_csv("cleaned_mappings.csv")
mappings.head()

,Faculty,Partner University,PU Module 1,PU Module 1 Title,PU Mod1 Credits,PU Module 2,PU Module 2 Title,PU Mod2 Credits,NUS Module 1,NUS Module 1 Title,NUS Mod1 Credits,NUS Module 2,NUS Module 2 Title,NUS Mod2 Credits,Pre Approved?
0,Faculty of Arts & Social Sci,The Hong Kong Polytechnic University,CBS241,Elementary Chinese II (for Non-Chinese speakin...,1.0,NaN,NaN,NaN,LAC2731,Department Exchange Module,3.0,NaN,NaN,NaN,Y
1,Faculty of Arts & Social Sci,The Hong Kong Polytechnic University,CC2C08,Mutual Impressions of China and the West,3.0,NaN,NaN,NaN,PS2238,Int'l Politics of NE Asia,4.0,NaN,NaN,NaN,Y
2,Faculty of Arts & Social Sci,Hong Kong University of Science & Technology,LANG1120,Chinese for Non-Chinese Language Background St...,1.0,NaN,NaN,NaN,LAC1731,Department exchange module,3.0,NaN,NaN,NaN,Y
3,Faculty of Arts & Social Sci,City University of Hong Kong,AIS3126,International Political Economy,3.0,NaN,NaN,NaN,PS3238,Int'l Political Economy,4.0,NaN,NaN,NaN,Y
4,Faculty of Arts & Social Sci,City University of Hong Kong,GE2210,China: A Socio-Political Transformation,3.0,NaN,NaN,NaN,PS2248,Chinese Politics,4.0,NaN,NaN,NaN,Y

In [33]:
def get_department(title):
    end_index = 0
    for i, char in enumerate(title):
        if not char.isalpha():
            end_index = i
            break
    return title[:end_index]

def get_equivalent_modules(modules):
    return modules
    
def department_filter(departments, mappings=mappings):
    if len(departments) == 0:
        return mappings

    filter_function = lambda title : (type(title) == str) and (get_department(title) in departments)
    return mappings[mappings['NUS Module 1'].map(filter_function) | mappings['NUS Module 2'].map(filter_function)]


def module_filter(modules, mappings=mappings):
    if len(modules) == 0:
        return mappings
    
    equivalent_modules = get_equivalent_modules(modules)
    filter_function = lambda title: title in equivalent_modules
    return mappings[mappings['NUS Module 1'].map(filter_function) | mappings['NUS Module 2'].map(filter_function)]

def school_filter(schools, mappings=mappings):
    if len(schools) == 0:
        return mappings
    
    filter_function = lambda school: school in schools
    return mappings[mappings['Partner University'].map(filter_function)]

In [39]:
all_schools

{'Aalto University',
 'Aalto University, Helsinki',
 'Aalto University, Mikkeli',
 'Aarhus School of Business',
 'Aarhus University',
 'Amsterdam University College',
 'Arizona State University',
 'Athens University of Economics & Business',
 'BI Norwegian Business School',
 'Beihang University',
 'Bilkent University',
 'Bogazici University, Turkey',
 'Boston College, Massachusetts',
 'Boston University',
 'Brandeis University',
 'Bremen University of Applied Sciences',
 'Budapest University of Technology and Economics',
 'California Poly State Uni, SLO',
 'California State University East bay',
 'Carnegie Mellon University',
 'Case Western Reserve University',
 'Catholic University of Portugal',
 'Central University of Finance & Economics',
 'CentraleSupelec - Ecole Centrale Paris',
 'Chalmers University of Technology',
 'Chang Gung University',
 'Charles University in Prague',
 'Chongqing University',
 'Chulalongkorn University',
 'City University of Hong Kong',
 'City, University of London',
 'Clarkson University',
 'Colgate University',
 'Columbia University',
 'Concordia University',
 'Copenhagen Business School',
 'Cornell Univ Coll of Agriculture & Life Sciences',
 'Cornell Univ Coll of Human Ecology',
 'Corvinus University of Budapest',
 'Cracow University of Technology',
 'Czech Technical University',
 'Dalhousie University',
 'Delft University of Technology',
 'Dresden University of Technology',
 'Duke University',
 'Durham University',
 'ESSEC Business School',
 'ETH Zurich',
 'Eckerd College',
 'Ecole Centrale Des Arts Et Manufactures, Paris',
 'Ecole Polytechnique Federale de Lausanne',
 "Ecole Speciale D'Architecture, Paris",
 'Eindhoven University of Technology',
 'Emory University',
 'Erasmus University',
 'Esc. Sup. De Admin. Y Dir. De Empresas',
 'European Business School',
 "Ewha Women's University,Seoul",
 'Free University of Berlin',
 'Free University of Brussels',
 'Fudan University',
 'Georg-August-University',
 'Georgetown University Law Center',
 'Georgetown University, Washington D.C.',
 'Georgia Institute of Technology',
 'Gottingen University',
 'Grenoble Institute of Technology (Grenoble INP)',
 'HEC Montreal',
 'Hamburg University of Technology (TUHH)',
 'Hankuk University of Foreign Studies',
 'Hanyang University',
 'Hautes Etudes Commerciales (HEC) Paris',
 'Heidelberg University (Rupr-Karls-Uni Heidelberg)',
 'Helmut Schmidt University',
 'Hokkaido University',
 'Hong Kong University of Science & Technology',
 'Humboldt University of Berlin',
 'Humboldt-Universitaet zu Berlin',
 'IE Business School',
 'Imperial College Business School',
 'Imperial College London',
 'Indiana University, Bloomington',
 'Inst Tech y de Estudios Superiores de Monterrey',
 "Institut d'Etudes Politiques de Grenoble",
 'Instituto Technologico Autonomo de Mexico',
 'Interdisciplinary Center Herzliya (IDC)',
 'Iowa State University',
 'Jagiellonian University, Poland',
 'Johns Hopkins University',
 'Justus Liebig University, Giessen',
 'KTH Royal Institute of Technology',
 'Karlsruhe Institute of Technology',
 'Karolinska Institute',
 'Keio University',
 'Khon Kaen University',
 "King's College London",
 'Koc University',
 'Korea Advanced Inst of Sci & Tech',
 'Korea University',
 'Kyoto University',
 'Kyushu University',
 'La Trobe University',
 'LaTrobe University',
 'Leiden University',
 'Leiden University Medical Center (LUMC)',
 'Linkoping University',
 'London School of Economics & Political Science',
 'Loughborough University',
 'Ludwig-Maximilians-University of Munich',
 'Lund University',
 'Maastricht University',
 'Mahidol University',
 'Management Center Innsbruck',
 'Mannheim Business School',
 'McGill University',
 'McMaster University',
 'Meiji University',
 'Minzu University of China',
 'Monash University',
 'NOC Beijing',
 'NOC Israel',
 'NOC Munich',
 'NOC Shanghai',
 'NOC Shenzhen',
 'NOC Silicon Valley',
 'NOC Stockholm',
 'NOC Toronto',
 'Nanjing University',
 'Nankai University',
 'Nanyang Technological University',
 'National Cheng Kung University',
 'National Chengchi University',
 'National Chiao Tung University',
 'National Taiwan University',
 'National Taiwan University of Science & Technology',
 'National Tsing Hua University',
 'New York University',
 'North Carolina State University',
 'Northwestern University',
 'Norwegian Sch of Veterinary Science',
 'Norwegian School of Economics',
 'Norwegian University of Science & Technology',
 'Osaka University',
 'Oulu University',
 'Oxford Brookes University',
 'Peking University',
 'Pennsylvania State University',
 'Pohang University of Science & Technology',
 'Purdue University',
 "Queen's University at Kingston",
 'RWTH Aachen University',
 'Radboud University Nijmegen',
 'Renmin University of China',
 'Rheinisch Friedrich-Wilhelms University of Bonn',
 'Rice University',
 'Richard Ivey Sch of Biz, Univ of Western Ontario',
 'Ritsumeikan University,Kyoto',
 'Rotterdam School of Management',
 'Royal Holloway, University of London',
 'Sabanci University',
 'Saint Petersburg State University',
 'Sciences Po',
 'Seoul National University',
 'Shanghai Jiao Tong University',
 'Simon Fraser University',
 'Singapore Management University',
 'Singapore University of Technology and Design',
 'Stanford University',
 'Stockholm School of Economics',
 'Sun Yat Sen University',
 'Sungkyunkwan University',
 'Suzhou University',
 'Swiss Federal Institute of Technology Lausanne',
 'Tallinn University of Technology',
 'Tampere University of Technology',
 'Technical University of Berlin',
 'Technical University of Darmstadt',
 'Technical University of Denmark',
 'Technical University of Munich',
 'Tel Aviv University',
 'Texas A & M University,College Station,Texas',
 'Thammasat University',
 'The Australian National University',
 'The Chinese University of Hong Kong',
 'The College of William & Mary',
 'The George Washington University',
 'The Hebrew University of Jerusalem',
 'The Hong Kong Polytechnic University',
 'The LNM Institute of Information Technology',
 'The University of Adelaide',
 'The University of Arizona',
 'The University of Auckland',
 'The University of British Columbia',
 'The University of British Columbia (Okanagan)',
 'The University of Edinburgh',
 'The University of Hong Kong',
 'The University of Manchester',
 'The University of Melbourne',
 'The University of New South Wales',
 'The University of Nottingham',
 'The University of Queensland',
 'The University of Sheffield',
 'The University of Sydney',
 'The University of Texas at Austin',
 'The University of Tokyo',
 'The University of Western Australia',
 'Tianjin University',
 'Tianjin University of Finance and Economics',
 'Tilburg University',
 'Tohoku University',
 'Tokyo Institute of Technology',
 'Tokyo University of Foreign Studies',
 'Tokyo University of Marine Science and Technology',
 'Tongji University',
 'Trinity College Dublin',
 'Tsinghua University',
 'Tulane University',
 'Tunghai University',
 'Universidad Autonoma de Madrid',
 'Universidad Catolica De Honduras',
 'Universidade Nova De Lisboa',
 'Universita degli Studi di Trento',
 'Universitat Autonoma de Barcelona',
 'Universite Catholique De Louvain',
 'Universite Catholique de Louvain',
 'Universiteit van Stellenbosch',
 'University College Cork, Ireland',
 'University College Dublin',
 'University College London',
 'University College London, University of London',
 'University of Aberdeen',
 'University of Alberta',
 'University of Amsterdam',
 'University of Antwerp',
 'University of Applied Sciences Esslingen',
 'University of Bath',
 'University of Birmingham',
 'University of Bordeaux',
 'University of Bristol',
 'University of Brussels, Solvay Business School',
 'University of Calgary',
 'University of California',
 'University of California, Berkeley',
 'University of California, Davis',
 'University of California, Irvine',
 'University of California, Los Angeles',
 'University of California, Merced',
 'University of California, Riverside',
 'University of California, San Diego',
 'University of California, Santa Barbara',
 'University of California, Santa Cruz',
 'University of Cambridge',
 'University of Canterbury',
 'University of Cologne',
 'University of Colorado Boulder',
 "University of Commerce 'Luigi Bocconi' Milan",
 'University of Connecticut',
 'University of Copenhagen',
 'University of Delaware',
 'University of Dundee',
 'University of Florida',
 'University of Geneva',
 'University of Georgia',
 'University of Glasgow',
 'University of Goteborg',
 'University of Gothenburg',
 'University of Guelph',
 'University of Hawaii, Manoa',
 'University of Helsinki',
 'University of Hohenheim',
 'University of Illinois, Urbana-Champaign',
 'University of Innsbruck',
 'University of Kaiserslautern, FRG',
 'University of Konstanz',
 'University of Lausanne',
 'University of Leeds',
 'University of Liverpool',
 'University of Ljubljana',
 'University of Mannheim',
 'University of Maryland',
 'University of Miami',
 'University of Michigan, Ann Arbor',
 'University of Minnesota',
 'University of Newcastle',
 'University of Newcastle upon Tyne',
 'University of North Carolina, Chapel Hill',
 'University of North Carolina, Kenan-Flagler',
 'University of Notre Dame',
 'University of Nottingham Malaysia Campus',
 'University of Oregon',
 'University of Oslo',
 'University of Otago',
 'University of Ottawa',
 'University of Oxford',
 'University of Pennsylvania',
 'University of Pittsburgh',
 'University of San Diego',
 'University of Seoul',
 'University of Southampton',
 'University of Southern California',
 'University of St Andrews',
 'University of St Gallen',
 'University of Stockholm',
 'University of Strathclyde',
 'University of Stuttgart',
 'University of Technology of Compiegne',
 'University of Technology of Troyes',
 'University of Toronto',
 'University of Toronto (Mississauga)',
 'University of Victoria, British Columbia',
 'University of Virginia',
 'University of Warwick',
 'University of Washington, Seattle',
 'University of Waterloo',
 'University of Wisconsin-Madison',
 'University of Wurzburg',
 'University of York',
 'University of Zagreb',
 'University of Zurich',
 'University of the Republic, Uruguay',
 'Uppsala University',
 'Utrecht University',
 'Vanderbilt University',
 'Victoria University',
 'Victoria University of Wellington',
 'Vienna University of Economics and Business',
 'Vilnius University',
 'WHU - Otto Beisheim School of Management',
 'Warsaw School of Economics',
 'Waseda University',
 'Western University',
 "Xi'an Jiaotong University",
 'Xiamen University',
 'Yale University',
 'Yonsei University',
 'York University',
 'Zhejiang University'}

In [38]:
all_schools = set(mappings['Partner University'].dropna().unique())
all_departments = set(mappings['NUS Module 1'].map(get_department).unique()).union(set(mappings['NUS Module 1'].dropna().map(get_department).unique()))
all_modules = set(mappings['NUS Module 1'].dropna().unique()).union(set(mappings['NUS Module 2'].dropna().unique()))

In [36]:
%timeit school_filter(all_schools, module_filter(all_modules, department_filter(all_departments)))

20.8 ms ± 53.6 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)